@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Rock+Salt&family=RocknRoll+One&display=swap');

:root{
    --primary-color: steelblue;
    --secondary-color: 	#86d6fe;
    --accent1-color: black;
    --accent2-color: #545454;
    --nav-background-color: #216298;
    --nav-link-color: white;
    --nav-hover-link-color: #ADF7FF;
    --nav-hover-background-color:   #01557e;
    
    --paragraph-font: 'Instrument Serif', serif, trebuchet;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

body {
    background-color: var(--accent1-color);
    text-align: center;
}

header, footer{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: var(--nav-link-color);
    font-size: 1.2rem;
    background-color: var(--nav-hover-background-color);
} 

nav {
    background-color: var(--nav-hover-background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    text-shadow: 5px 5px 8px black;
    text-align: center;
    width: 17%;
    max-width: 840px;
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 5px 5px 5px 3px black;
    border: 5px solid;
    border-color:  #034275 #022F54 #1982D8 #0867B5;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--accent1-color);
    text-decoration: none;
    border-color: #0867B5 #034275 #022F54 #1982D8;
    box-shadow: none;
}

main {
    display: grid;
    /* grid-template-columns: 2; */
    text-align: center;
    padding: 30px;
    /* grid-column: 2/3; */
    margin: 1rem;
    font-size: 20px;
    
}

h2 {
    display: block;
    color:var(--nav-link-color);
    background-color: var(--accent2-color);
}

img {
    display: grid;
    max-width: 270px;
    height:auto;
}

section {
    display: grid;
    /* grid-template-columns: 4; */
    max-width: 700px;
}
div {
    padding: 30px;
}
.about {
    min-height: 400px;
}
.about img {
    margin-top: 27px;
    margin-left: 25px;
    margin-right: 35px;
    width: 180px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

.where {
    margin-top: 5px;
    border: 1px solid steelblue;
    

}

.where img {
     margin-top: 27px;
    margin-left: 25px;
    margin-right: 35px;
    width: 180px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: left;
}


section a {
    color: var(--nav-link-color);
}
section a:hover {
    color: var(--nav-background-color)
}


p, h3 { 
    padding: 20px 40px 10px 20px; 
    color: var(--nav-link-color);
}

footer {
    border-top: 1px solid #000;
}