:root {
    --primary: silver;
    --secondary: #181835;
    --tertiary: rgb(191, 174, 77);

    --font: 'DM Serif Display', sans-serif, trebuchet;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);

}
body {
    background-color: var(--secondary);
}

h1, footer{
    text-align: center;
}

header {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
}

main {
    background-color: var(--tertiary);
    color: white;
    
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
}

section {
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: 500;
    margin: 15px 0;
    
}
h2 {
    text-align: center;
    margin: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
}
img {
    width: 100%;
    height: auto;
}

.data, .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.weather img {
    width: 50%;
    /* margin-bottom: 1rem; */
}

li {
    list-style: none;


}

footer {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    
}

@media screen and (min-width: 769px) {
    .hero {
        position: relative;
    }
    /* .data, .weather{
        position: absolute;
    }
    .data {
        /* width: clamp(320px, 50%, 400px); */
        /* top: clamp(18%, 25%, 40%);
        right: 70%;
        transform: translate(-50%, -50%);
    }
    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 500px;
        align-items: center;
        justify-content: center;
        text-align: left;
        bottom: clamp(20px, 5%, 10%);
        right: 70px; */
    /* } */

    /* .data, .weather {
        position: absolute;
        top: clamp(18%, 30%, 40%);
        left: clamp(20%, 15%, 30%);
        transform: translate(-50%, -50%);
        width: auto;
        background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background */
        /* padding: 2rem;
    } */ 
    .data, .weather {
        /* background-color: rgba(7, 0, 0, 0.5); */
    }
    h2 {
        text-align: left;
        background-color: var(--tertiary);
    }
    li{
        font-size: 1.3rem;
    }
    .data {
        flex-direction: column;
        max-width: 300px;
        position: absolute;
        top: 200px;
        left: 20px;

    }
    .weather {
        position: absolute;
        bottom: 200px;
        right: 20px;
        max-width: 300px;
    }
    .weather img {
        width: 25%;
    }
    /* .weather h2::after {
        content: url('images/weather-icon.svg');
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    } */
    .weather p {
        column-span: 2;
    }

    
    
}
