:root {
    --primary: silver;
    --secondary: #181835;
    --tertiary: rgb(191, 174, 77);

    --font: 'DM Serif Display', sans-serif, trebuchet;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);

}
body {
    background-color: var(--secondary);
}

h1, footer{
    text-align: center;
}

header {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
}

main {
    background-color: var(--tertiary);
    color: white;
    
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
}

section {
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: 500;
    margin: 15px 0;
    
}
h2 {
    text-align: center;
    margin: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
}
img {
    width: 100%;
    height: auto;
}

.data, .weather {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
}
.weather img {
    width: 50%;
}

li {
    list-style: none;
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    
}

@media screen and (min-width: 769px) {
    .hero {
        position: relative;
    }
    h2 {
        text-align: left;
        background-color: var(--secondary);
        padding-left: 20px;
        color: white;
        /* overflow-x: auto; */
    }

    .data {
        flex-direction: column;
        max-width: 300px;
        position: absolute;
        top: 200px;
        left: 20px;

    }
    .weather {
        position: absolute;
        bottom: 140px;
        /* bottom: clamp(423px, -55vw, 50px); */
        right: 20px;
        max-width: 300px;
    }
    .weather h2::after {
            content: "⛅";
            text-align: right;
            font-size: 01.8rem;
            padding-right: 10px;
            justify-content: space-evenly;
    }
    .weather img {
        display: none;
    }
}

