/* this will be for mobile view */

:root {
    --primary-color: #9ACEF5;
    --secondary-color: #433E38;
    --accent1-color: #000004;
    --accent2-color: #ECEFDC;
    --nav-color: white;
    --nav-background-color: #216298;
    --nav-hover-color: #ADF7FF;
    --nav-hover-background-color: #01557e;
    --paragraph-font: 'Instrument Serif', serif, trebuchet;
}

@media screen and (min-width: 600px) {
    
    * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        font-family: bold var(--paragraph-font);
    }
    body {
        margin: auto;
        background-color: var(--secondary-color);
    }
    /* #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding:  .5rem .75rem;
        background-color: #eee;
        color: #000;
    }

    #menu::before {
        content: "☰";
    } */




    header {
        background-color: var(--primary-color);
        display: flex;
        flex-direction: row;
        min-height:  70px;
        justify-content: space-around;
        align-items: center;
        padding: 0 24px;

    }
    h1 {
        font-size: 3rem;
        justify-content: left;
    }

    
    #menu {
        display: none;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }


    h2{
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        color: var(--primary-color);
    }

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(0, minmax(3, 1fr));
    }
    figure {
        max-width: fit-content;
        border: solid 5px var(--nav-color);
        background-color: var(--nav-color);
    }
    img {
        display: grid;
        height: 120px;
    }
    figcaption {
        text-align: center;
    }
    
    footer {
        background-color: var(--primary-color);
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
    }

}


@media screen and (min-width: 900px) {
    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    #menu {
        display: none;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    
}




