/* this will be for the larger view */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: bold var(--paragraph-font);
}
body {
    background-color: var(--secondary-color);
}

header {
    /* background-color: var(--primary-color); */
    background-color: var(--nav-color);
    
}
h1 {
    font-size: 2.5rem;
}



#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding:  .5rem .75rem;
    background-color: var(--primary-color);
    color: #000;
    border: none;
    /* justify-content: right; */
}
#menu::before {
    content: "☰";
}
.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition:  0.5s;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.navigation a:hover, .navigation a:active{
    background-color: var(--accent1-color);
    color: var(--nav-hover-color);
}
.show li {
    display: block;
}
#menu.show::before {
    content: "❎";
} */





/* nav {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap; */
/* } */
/* nav a { */
    /* flex: 1 1 100%; */
    /* margin: 10px; */
    /* color: var(--nav-color); */
    /* background-color: var(--nav-background-color); */
    /* text-shadow: 5px 5px 8px black; */
    /* text-align: center; */
    /* display: block; */
    /* padding: 5px;
    text-decoration: none;
    font-size: 20px; */
    /* box-shadow: 5px 5px 5px 3px black; */
    /* border: 5px solid; */
    /* border-color:  #034275 #022F54 #1982D8 #0867B5; */
/* } */

/* .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--nav-color); */

/* } */
h2 {
    font-size: 2rem;
    text-align: center;
    margin: 20px;
    color: var(--primary-color);

}
div {
    justify-content: center;
    align-items: center;
    display: grid;
}
figure {
    display: block;
    max-width: fit-content;
    border: solid 5px var(--nav-color);
    background-color: var(--nav-color);
    margin: 20px auto;
}
img {
    display: grid;
    height: 200px;
    max-width: auto;
    justify-content:space-evenly;

}
figcaption {
    text-align: center;
}


footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}